<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
  <h1>Sobre</h1>
</section>

<section class="content">
    <p class="lead">
      Meat | Aplicação que demonstra as features do Angular
    </p>
    <p class="lead">
      MIT license
    </p>
    <p class="lead">Copyright 2018 Gustavo Henrique de Lima Oliveira (<a href="https://github.com/GustavoLima93">https://github.com/GustavoLima93</a>)</p>
    <p class="lead">Desenvolvedor Trainee de Sistema em busca de conhecimento e afirmação no mercado:</p>
    <p class="lead">Desenvolvi esta aplicação para estudar e aplicar as features do angular em um projeto real que simula um site de pedidos alimentícios </p>
    <p class="lead">
    ESTA APLICAÇÃO FOI CRIADA NA FORMAÇÃO DO CURSO ANGULAR 4 - CONSTRUINDO UMA APLICAÇÃO WEB COM PROFESSOR ARQUITETO DE SOFTWARE TARSO BESSA</p>
    <p class="lead">
      Imagens usadas na aplicação por <a href="http://www.freepik.com" target="_blank">freepik.com</a>
    </p>

  </section>
<!-- FIM DO CONTEÚDO -->